
win.txt
tester.exs
test.txt
tester.exs
comb.exs
convert.py
Elixir.Poker.beam
Lab3.ex
Lab4.ex
New Text Document (2).txt
convert.py
Poker.exs
convert.py
New Text Document.txt
tester.exs
tempCodeRunnerFile.exs
temp.ex
tester.exs
simple_tester_elixir.exs
tester.exs
res.txt
Poker2.ex
tester.exs
Poker1.ex
tester.exs
tester.exs
